# Use the following Image as the starting point
# We use the same one as COMP1531
image: comp1531/automarking:latest

# Define the various pipelines
stages:
  - checks

# Instead of an install pipeline, we run a seperate script for setting up
before_script:
  - npm install

# Here we define a pipeline component called 'tests'
# It runs whenever a change to main or a merge request has occured
# Only change this if you know what you are doing
tests:
  stage: checks
  only:
    - main
    - merge_requests
  script:
    - npm install ts-node typescript --save-dev
    - export FORCE_STRING_EC=true
    - SERVER_LOG=$(mktemp)
    - npm run start >& $SERVER_LOG &
    - timeout 10s grep -q "⚡️ Server started on port" <(tail -f $SERVER_LOG) || (cat $SERVER_LOG && exit 1)
    - timeout -s SIGINT 180s npx ts-node --transpile-only node_modules/.bin/jest --testPathPattern=tests/http || (cat $SERVER_LOG && exit 1)
    - kill -SIGINT %1
    - sleep 2
    - cat $SERVER_LOG

# You can add more pipelines or pipelines components that do things like: tsc or eslint
